{% extends "base.jinja" %}

{% block title %}Decryption{% endblock %}

{% block content %}
    <h1>Decryption</h1>
    <form enctype="multipart/form-data" method="post">
        <label for="cipher">Cipher:</label>
        <input type="text" id="cipher" name="cipher" value="{{ cipher }}">
        <input type="file" name="cipher_file" id="cipher_file">
        <label for="keyword">Vigenère keyword:</label>
        <input type="text" id="keyword" name="keyword" value="{{ keyword }}">
        <input type="submit" value="Decrypt">
    </form>
    <p>
        {{ decrypted_message }}
    </p>
{% endblock %}
