<html lang="en">
<head>
    <title>Decryption</title>
</head>
<body>
    <h1>Decryption</h1>
    <form method="post">
        <label for="cipher">Cipher:</label>
        <input type="text" id="cipher" name="cipher" value="{{ cipher }}">
        <label for="keyword">Vigenère keyword:</label>
        <input type="text" id="keyword" name="keyword" value="{{ keyword }}">
        <input type="submit" value="Decrypt">
    </form>
    <p>
        {{ decrypted_message }}
    </p>
</body>
</html>